{% extends 'layout.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}
<h2>AddPost Page</h2>
<form method="post">
    <label for="title">Title</label>
    <input type='text' name="title" id="title" required>
    <label for="body">Body</label>
    <textarea name="content" id="content"></textarea>
     <label for="title">Author</label>
    <input type='text' name="author" id="author" required>
     <label for="title">Date</label>
    <input type='text' name="date" id="date" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
