{% extends 'layout.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}
<h2>ADD Post Form</h2>
<div class="container">
  <form method="post">
    <div class="row">
      <div class="col-25">
        <label for="fname">Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="title" placeholder="Your Title..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Author Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="author" placeholder="Author name ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="imglink">Image Link</label>
      </div>
      <div class="col-75">
        <input type="text" id="imglink" name="imglink" placeholder="Post image link ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="date">Date</label>
      </div>
      <div class="col-75">
        <input type="date" id="date" name="date">
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Contents</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="content" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
{% endblock %}
