{% extends 'layout.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<h2>Edit Post Page</h2>
<p>Welcome {{ username }}!</p>
<div class="container">
    <form action="/update/{{ post[0] }}" , method="post">
        <div class="row">
            <div class="col-25">
                <label for="fname">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="title" , value={{ post[1] }} placeholder="Your Title..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Author Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="lname" name="author" , value={{ post[3] }} placeholder="Author name ">
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-25">
                <label for="imglink">Image Link</label>
            </div>
            <div class="col-75">
                <input type="text" id="imglink" name="imglink" value={{ post[5] }} placeholder="Post image link ">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Contents</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="content" placeholder="Write something.."
                          style="height:200px">{{ post[2] }}</textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
