{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<h2><a href="{{url_for('addpost')}}" class="button button2">Add Post</a></h2>
<p>Welcome back, {{ username }}!</p>
    {% for posts in post %}
    <div class="polaroid">
        <a href="{{ url_for('view',id=posts[0]) }}"><h1><p>{{ posts[1] }}</p></h1></a>

        <div class="container">
            <a href="{{ url_for('editpost',id=posts[0]) }}" class="button">Edit</a>
            <a href="{{ url_for('deletepost',id=posts[0]) }}" class="button button3">Delete</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
